@model Client.BE.Role

@{
    ViewData["Title"] = "Details";
}
<br />
<h2>Role Details</h2>

<div>
    <hr />

    <table class="table">
        <thead>
            <tr class="tableHeaderBG">
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Id)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-danger" asp-action="Index">Back</a>
</div>
