@model IEnumerable<Client.BE.Role>

@{
    ViewData["Title"] = "Index";
}
<head>
    <style>
        tr:nth-of-type(odd) {
            background-color: #ccc;
        }
    </style>
</head>

<body class="col-lg-12 col-lg-offset-0">
    <h2>All Roles</h2>
    <div class="btnPadding">
        <a class="btn btn-success btnAdd" asp-action="Create">Create New</a>
    </div>

    <table class="table">
        <thead>
            <tr class="tableHeaderBG">
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="alignButtons">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
