@{ ViewData["Title"] = "Home Page"; }

<div>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>

    <div>
        @foreach (var claim in User.Claims)
        {
            <div>
                @if (claim.Type == "picture")
                {
                    <img src="@claim.Value" />
                }
            </div>
        }
    </div>
    <div>
        <button type="button" onclick="location.href='@Url.Action("ShowToken", "Home")'">Show tokens metadata</button>
        @model string
        <p>@Model</p>
    </div>
    <div>
        <button type="button" onclick="location.href='@Url.Action("Edit", "Admin")'">Updated username</button>       
    </div>
</div>
