@using Microsoft.AspNetCore.Authentication;

@{
    ViewData["Title"] = "Home Page";
}
<head>

</head>
<body class="col-lg-12 col-lg-offset-0">
    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        <div id="container1" class="container">
            <h2 style="text-align:center"> &#8595; Administrator Functions &#8595;</h2>
            <button class="myButton" id="myButton" onclick="location.href='@Url.Action("Index", "Users")'">
                <img src="http://icons.iconarchive.com/icons/aha-soft/people/256/users-icon.png" style="height:1.5em; width:1.5em;" /><br />Users</button>
            <button class="myButton" id="myButton" onclick="location.href='@Url.Action("Index", "Roles")'"><img src="https://www.iconshock.com/image/Brilliant/Networking/role" style="height:1.5em; width:1.5em;" /><br />Roles</button>
        </div>
    }
    <hr />
    <br/>
    <div>
        @foreach (var claim in User.Claims)
        {
            <div>
                @if (claim.Type == "picture")
                {
                    @if (claim.Value == null)
                    {
                        <img id="userImage" src="http://www.dubaihse.com/img/comment_users/logo_4.png" />
                    }
                    else
                    {
                        <img id="userImage" src="@claim.Value" />
                    }
                }
            </div>
        }
    </div>


    <h2 style="text-align:center"><strong>You are logged in as</strong></h2>
    <table class="table">
        <thead>
            <tr class="tableHeaderBG">
                @foreach (var claim in User.Claims)
                {
                    <th>
                        @if (claim.Type == "picture")
                        { }
                        else
                        {
                            @claim.Type
                        }
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var claim in User.Claims)
                {
                    <td>
                        @if (claim.Type == "picture")
                        { }
                        else
                        {
                            @claim.Value
                        }
                    </td>
                }
            </tr>
        </tbody>
    </table>
    <br />
    <br />


    <div>
        <p style="font-size:18px;"><strong>Identity Token:</strong></p>
        <p style="word-wrap:break-word;">@await ViewContext.HttpContext.GetTokenAsync("id_token")</p>
        <br />
    </div>
    <div>
        <p style="font-size:18px;"><strong>Access Token:</strong></>
        <p style="word-wrap:break-word;">@await ViewContext.HttpContext.GetTokenAsync("access_token")</p>
        <br />
    </div>
    <div>
        <p style="font-size:18px;"><strong>Refresh Token:</strong></p>
        <p style="word-wrap:break-word;">@await ViewContext.HttpContext.GetTokenAsync("refresh_token")</p>
    </div>
    <br />
    <div>
        <p style="font-size:18px;"><strong>Token expires at:</strong></p>
        <p style="word-wrap:break-word;">@await ViewContext.HttpContext.GetTokenAsync("expires_at")</p>
    </div>
</body>