@model Client.Models.UserViewModel

@{
    ViewData["Title"] = "Create";
}
<br />
<h2>Create User</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <img id="userImage" src="http://www.dubaihse.com/img/comment_users/logo_4.png" />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.User.Firstname" class="control-label"></label>
                <input asp-for="@Model.User.Firstname" class="form-control" />
                <span asp-validation-for="@Model.User.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Lastname" class="control-label"></label>
                <input asp-for="@Model.User.Lastname" class="form-control" />
                <span asp-validation-for="@Model.User.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Username" class="control-label"></label>
                <input asp-for="@Model.User.Username" class="form-control" />
                <span asp-validation-for="@Model.User.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Password" class="control-label"></label>
                <input asp-for="@Model.User.Password" class="form-control" />
                <span asp-validation-for="@Model.User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Email" class="control-label"></label>
                <input asp-for="@Model.User.Email" class="form-control" />
                <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.ProfileUri" class="control-label"></label>
                <input asp-for="@Model.User.ProfileUri" class="form-control" />
                <span asp-validation-for="@Model.User.ProfileUri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="@Model.User.IsDeleted" /> @Html.DisplayNameFor(model => model.User.IsDeleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a class="btn btn-danger" asp-action="Index">Cancel</a>
            </div>




            <div class="form-group userRole">
                <h3><label class="control-label">Role Options:</label></h3>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            @for (int i = 0; i < @Model.Roles.Count(); i++)
                            {
                                <input asp-for="@Model.Roles[i].isChecked" type="checkbox" />
                                <label asp-for="@Model.Roles[i].isChecked">@Model.Roles[i].Name</label>

                                @*If these are not included, all OptionIds become 0 and all OptionName becomes null*@
                                @Html.HiddenFor(x => @Model.Roles[i].Id)
                                @Html.HiddenFor(y => @Model.Roles[i].Name)
                                <br />
                            }
                        </label>
                    </div>
                </div>
            </div>





        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
