@model Client.BE.User

@{
    ViewData["Title"] = "Details";
}
<br />
<h2>User Details</h2>
<hr />

<div>
    @if (@Model.ProfileUri == null)
    {
        <img id="userImage" src="http://www.dubaihse.com/img/comment_users/logo_4.png"/>
    }
    else
    {
        <img id="userImage" src="@Model.ProfileUri" />
    }
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            Role(s)
        </dt>

        <dd>
            @foreach (var item in Model.Roles)
            {
                @Html.DisplayFor(model => item.Name)
                <br />
            }
        </dd>

    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-danger" asp-action="Index">Back</a>
</div>
