@model Client.Models.UserViewModel

@{
    ViewData["Title"] = "Edit";
}
<br />
<h2>Edit User</h2>
<hr />

<div class="row">
    <form asp-action="Edit">
        <div class="col-md-6">
            <div>
                @if (@Model.User.ProfileUri == null)
                {
                    <img id="userImage" src="http://www.dubaihse.com/img/comment_users/logo_4.png" />
                }
                else
                {
                    <img id="userImage" src="@Model.User.ProfileUri" />
                }
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.User.Id" />
            <div class="form-group">
                <label asp-for="@Model.User.Firstname" class="control-label"></label>
                <input asp-for="@Model.User.Firstname" class="form-control" />
                <span asp-validation-for="@Model.User.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Lastname" class="control-label"></label>
                <input asp-for="@Model.User.Lastname" class="form-control" />
                <span asp-validation-for="@Model.User.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Username" class="control-label"></label>
                <input asp-for="@Model.User.Username" class="form-control" />
                <span asp-validation-for="@Model.User.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Password" class="control-label"></label>
                <input asp-for="@Model.User.Password" value="" class="form-control" />
                <span asp-validation-for="@Model.User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.Email" class="control-label"></label>
                <input asp-for="@Model.User.Email" class="form-control" />
                <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.ProfileUri" class="control-label"></label>
                <input asp-for="@Model.User.ProfileUri" class="form-control" />
                <span asp-validation-for="@Model.User.ProfileUri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="@Model.User.IsDeleted" /> @Html.DisplayNameFor(model => model.User.IsDeleted)
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group userRole">
                <h3><label class="control-label">Role Options:</label></h3>
                <div class="checkbox">
                    <label>
                        @for (int i = 0; i < Model.Roles.Count(); i++)
                        {
                            if (Model.Roles[i].isChecked == true)
                            {
                                <input asp-for="@Model.Roles[i].isChecked" type="checkbox" checked />
                            }
                            else
                            {
                                <input asp-for="@Model.Roles[i].isChecked" type="checkbox" />
                            }
                            <label asp-for="@Model.Roles[i].isChecked">@Model.Roles[i].Name</label>

                            @Html.HiddenFor(x => @Model.Roles[i].Id)
                            @Html.HiddenFor(y => @Model.Roles[i].Name)
                            <br />
                        }
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <input type="submit" value="Save" class="btn btn-success" />
            <a class="btn btn-danger" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
